<h1>Welcome to the Movie Roulette</h1>

<%= form_tag(root_path, {class: 'form-group'}) do %>
  <%= label_tag "Choose a Movie", nil, class: 'label' %>
  <br>
  <%= text_field_tag 'movie', nil, class: 'form-control', id: 'movie' %>
  <br>
  <%= submit_tag "Search" %>
<% end %>

